/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar{
  background: #4CAF50;
  color: white !important;
}

.warning-snackbar{
  background: #F44336;
  color: white !important;
}

.mat-chip.mat-standard-chip {
  border-radius: 16px;
  margin-right: 8px;
  padding: 7px 16px;
  text-align: center;
  text-transform: lowercase;
  outline: none;
}

.spinner-loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 57px;
}
